@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #2f3361;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
.movie {
    background-color:transparent;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin: 1rem;
}
img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 100%;
}
.movie .movie-info{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0.5rem 1rem;
    align-items: center;
}
.movie .movie-info h3 {
    margin: 0;
    letter-spacing: 0.1rem;
}
.movie .movie-info span {
    background-color: #2f3361 ;
    padding: 0.25rem 0.5rem;
    border-radius:3px;
    color: rgb(251, 222, 76);
    font-weight: bold;
}
.movie .movie-info span.green {
    color: rgb(32, 223, 32);
}
.movie .movie-info span.orange {
    color: orange ;
}
.movie .movie-info span.red {
    color: rgb(210, 22, 22);
}
.search {
    background-color: #3f4476;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}
.search input {
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 2px solid rgb(100, 100, 100);
    color: #fff;
    font-family: inherit;
    border-radius: 100px;
    font-size: 1rem;
}
.search input::placeholder {
    color: #fff;
}
.search input:focus {
    background-color: #2f3361;
}